<h1>Listing vehicles</h1>

<table id="vehicles-table">
  <tr>
    <th>Rego</th>
    <th>Colour</th>
    <th>Passenger space</th>
    <th>Child seat</th>
    <th>Boot</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Vehicle</a>
