<h1>Welcome to Carpool!</h1>

<p>Carpool is a rail application that is written purely for my personal learning and testing out of various web application related languages and tools
(Ruby on rails, backbone.js, coffeescript, google api).</p>

<p>It's called Carpool in name only as it doesn't allow you to schedule any trips but you may define your own vehicles and addresses that are currently... shared...</p>
<p>
I have not created a mailer for it yet either so password retrieval is not really thought through... sorry.
</p>

<p>The code has not been documented since I wasn't really counting on showing anyone and as I mentioned earlier just something for me to learn a bit of rails and stuff.</p>

<h2>What bits has what?</h2>

<h3>Addresses</h3>
<p>Addresses has examples for Google Geolocation API implemented in coffeescript in app/assets/javascripts/addresses.js.coffee .</p>

<h3>Vehicles</h3>
<p>Vehicles has been backboned so only index.html.erb is used in the rails views folder and the rest is in app/assets/javascripts/backbone/views/vehicles</p>

<h3>User Registration</h3>
<p>User registrations are done using authlogic plugin. I'm so sick of logins though... so many different passwords... (Looking at other stuff that uses OAuth2).</p>

<h3>Models</h3>
<p>I'm just asking for trouble using that name for vehicle models, aren't I? The prospect of converting this bit to backbone is slighty scary atm.</p>
